


p {
    color : white;
    background-color: red;
    width: 50%;
    border: 10px dotted blue;
    margin-top: 50px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}